# Node
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Angular
/dist/
/tmp/
/ngu*.*
/*.js
/*.js.map
/*.css
/*.css.map
*.ngfactory.ts
*.ngstyle.ts
*.ngsummary.json
*.ngsummary.ts
/out-tsc
/bazel-out

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
